* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --blue: rgb(0, 132, 253);
    --lightblue: rgb(181, 221, 255);
    --violet: rgb(151, 146, 228);
    --yellow: rgb(253, 193, 95);
    --black: rgb(51, 51, 51);
    --white: rgb(255, 255, 255);
    --lightgray: rgb(133, 133, 133);
}
.debug {
    border: 1px solid black;
    min-height: 50px;
}
body {
    background-color: var(--white);
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
    /* appearance: none; */
}
.container {
    max-width: 600px;
    margin: 0 auto;
}
.d-flex {
    display: flex;
}
.j-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.border-rad {
    border-radius: 15px;
}
.img100 {
    max-width: 100%;
}
.white-txt {
    color: var(--white);
}
.italic {
    font-style: italic;
}
h2 {
    font-size: 1.8rem;
}
p {
    line-height: 1.6rem;
}
/* HEADER */
header {
    width: 100%;
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 900;
}
header img {
    width: 4rem;
}
.hamburger i {
    font-size: 1.3rem;
}
.main-menu {
    display: none;
}
header ul li {
    list-style-type: none;
    padding: 5px 15px;
}
header ul li:last-of-type {
    background-color: var(--white);
    padding: 5px 10px;
}
header a {
    color: var(--white);
    text-decoration: none;
}
header ul li:last-of-type a {
    color: var(--black);
}
/* MAIN */
#planning, #features, #get-started {
    background-color: var(--violet);
}
#intro, #planning, #testimonials, #features, #about-us {
    padding: 2rem;
}
/* intro */
.card {
    background-color: var(--lightblue);
    margin-bottom: 1.5rem;
}
.card #get-demo {
    padding: 1.5rem;
}
.card h3 {
    color: var(--blue);
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
}
.card #app-store {
    background-color: var(--blue);
    width: 80%;
    padding: 0.5rem;
    border-radius: 30px;
    margin-top: 1rem;
    text-align: center;
}
.card #app-store a {
    color: var(--white);
    text-decoration: none;
    letter-spacing: 0.1em;
}
.card #phone {
    height: 50%;
    padding: 0.5rem 1.8rem 0 1.8rem;
}
.card #phone img {
    max-width: 100%;
    display: block;
}
.card-single {
    text-align: center;
    padding: 1.5rem;
}
.card span i {
    color: var(--blue);
    font-size: 3.5rem;
    padding-bottom: 1rem;
}
/* planning */
#planning h2 {
    padding: 2rem 0;
}
#planning .container {
    padding-bottom: 1rem;
}
#planning .container > img {
    padding: 1.5rem 0;
}
.white-in-violet {
    background-color: var(--white);
    text-align: center;
    padding: 1rem;
    border-radius: 35px;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.white-in-violet h3 {
    padding: 0.8rem 0;
}
.violet-arrow {
    background-color: var(--violet);
    margin: 1.5rem 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
}
/* testimonials */
.testimonials-txt {
    text-align: center;
    padding: 1rem 0.5rem 2rem 0.5rem;
}
.testimonials-txt h2 {
    color: var(--violet);
    padding: 1.5rem 0;
}
.violet-in-white {
    background-color: var(--violet);
    color: var(--white);
    text-align: center;
    border-radius: 35px;
    padding: 1.5rem 1rem;
    margin-bottom: 1.5rem;
}
.violet-in-white div:first-child {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}
.test-description p {
    padding: 1rem 0;
}
.test-description i {
    font-size: 1.2rem;
}
.test-name {
    font-weight: bold;
    letter-spacing: 0.2em;
}
#nat {
    background-image: url(../img/testimonial1.jpg);
}
#celia {
    background-image: url(../img/testimonial2.jpg);
}
#bob {
    background-image: url(../img/testimonial3.jpg);
}
/* features */
#features h2 {
    color: var(--white);
    text-align: center;
    padding-bottom: 2rem;
}
.white-card {
    background-color: var(--white);
    color: var(--lightgray);
    padding: 1rem;
    margin-bottom: 1rem;
}
.white-card h3, .white-card span {
    color: var(--violet);
}
.white-card span {
    font-size: 2rem;
    font-weight: bold;
}
.white-card h3 {
    font-size: 1.3rem;
    padding: 1rem 0;
}
.white-card p {
    font-size: 0.9rem;
}
.white-card .more {
    background-color: var(--violet);
    width: 50%;
    text-align: center;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    margin: 1rem 0;
}
.white-card .more a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    letter-spacing: 0.2em;
}
/* about us */
.about-txt h1 {
    color: var(--violet);
    font-size: 2.2rem;
    padding: 1rem 0;
}
.about-txt p {
    line-height: 2rem;
    padding-top: 1rem;
}
.about-img {
    padding: 1rem 0;
}
.about-img div:first-of-type {
    width: 50%;
    position: relative;
    margin: 1rem 0;
}
.about-img img {
    width: 100%;
    border-radius: 50%;
}
.about-img i {
    color: var(--violet);
    font-size: 3.5rem;
    position: absolute;
    top: -10px;
    right: -15px;
}
.about-img h4 {
    color: var(--violet);
    font-weight: bold;
    font-size: 1.5rem;
}
#find-me {
    background-color: var(--violet);
    text-align: center;
    padding: 0.4rem;
    border-radius: 20px;
    width: 65%;
    margin: 1rem 0;
}
#find-me a {
    text-decoration: none;
    color: var(--white);
    font-size: 0.8rem;
}
/* get started */
#get-started .container {
    color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
}
#get-started h2:first-of-type {
    padding: 1rem 0;
}
#free {
    color: var(--yellow);
    font-size: 3rem;
    padding-bottom: 1rem;
}
#get-started .container div {
    background-color: var(--white);
    font-weight: bold;
    width: 85%;
    padding: 1rem;
    border-radius: 30px;
    letter-spacing: 0.2em;
    margin: 1.5rem 0;
}
#get-started .container div a {
    text-decoration: none;
    color: var(--violet);
}
#get-started .container p a {
    color: var(--white);
}
/* FOOTER */
footer {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.6rem;
}
footer p:first-child {
    padding-bottom: 5rem;
} 
footer p:last-child {
    padding: 0 0.5rem;
}
/* RESPONSIVE */
@media screen and (min-width:768px) {
    .container {
        max-width: 750px;
    }
    #intro .cards {
        display: flex;
        flex-flow: row wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
    #intro .card {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        flex-basis: calc(33.33% - 1.5rem);
    }
    #intro .card:first-child {
        flex-basis: calc(66.66% - 1.5rem);
    }
    #intro .card #app-store {
        width: 45%;
    }
    #intro .card #phone {
        width: 50%;
        padding-right: 0;
    }
    #testimonials .violet-in-white {
        display: flex;
    }
    #testimonials .test-col-left {
        flex-basis:30%;
    }
    #testimonials .test-col-right {
        flex-basis: 65%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #testimonials .test-col-right .test-name {
        display: inline-block;
    }
    #features .white-cards-cont {
        display: flex;
        flex-flow: row wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
    #features .white-card {
        padding: 1.5rem;
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        flex-basis: calc(50% - 1.5rem);
    }
    #features .white-card span {
        font-size: 3rem;
    }
    #features .white-card .more {
        width: 45%;
    }
    #about-us .container {
        display: flex;
        justify-content: space-between;
        padding-left: 1.5rem;
    }
    #about-us .about-txt {
        flex-basis: 70%;
        padding: 0.5rem 5rem 3.2rem 0;
    }
    #about-us .about-txt h1 {
        font-size: 3rem;
    }
    #about-us .about-img {
        flex-basis: 30%;
        /* padding-right: 0.5rem; */
    }
    #about-us .about-img div:first-of-type {
        width: 85%;
    }
    #about-us .about-img i {
        right: -5px;
    }
    #find-me {
        width: 75%;
    }
    #get-started .container {
        max-width: 700px;
    }
    #get-started .container h2:first-of-type {
        font-size: 2.5rem;
    }
    #free {
        font-size: 5rem;
    }
    #get-started p {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    #get-started .container div {
        width: 40%;
        padding: 1.2rem 0;
    }
    footer .container {
        max-width: 500px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    footer p:first-child {
        padding-bottom: 3.5rem;
    } 
}
@media screen and (min-width:992px) {
    .container {
        max-width: 900px;
    }
    .hamburger {
        display: none;
    }
    .main-menu {
        display: block;
    }
    #intro .container .card:first-of-type {
        display: flex;
    }
    #intro .cards .card #get-demo {
        flex-basis: 60%;
        padding-bottom: 0;
    }
    #intro .cards .card #get-demo #app-store {
        width: 65%;
        margin-top: 1.5rem;
    }
    #intro .cards .card #phone {
        height: 100%;
        padding:2rem 2rem 0 0;
    }
    #planning .container {
        display: flex;
        justify-content: center;
    }
    #planning .violet-col {
        flex-basis: 40%;
        padding: 0 2rem;
    }
    #planning .left-col img {
        padding: 3rem 0;
    }
    #planning .right-col {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    #testimonials .test-col-left {
        flex-basis:25%;
        margin-left: 0;
    }
    #testimonials .test-col-right {
        flex-basis: 70%;
    }
    #features .white-card {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        flex-basis: calc(33.33% - 1.5rem);
    }
    #about-us .container {
        padding-left: 2rem;
        padding-right: 0.5rem;
    }
    #about-us .about-txt {
        flex-basis: 80%;
        padding-right: 4.5rem;
    }
    #about-us .about-img {
        flex-basis: 20%;
    }
    #find-me {
        width: 85%;
    }
}
@media screen and (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
    #testimonials .test-col-left {
        flex-basis: 19%;
        margin: 0 auto;
    }
}